<!DOCTYPE html>
<html>
  <head>
    <title>Shane &amp; Stephanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Calligraffitti|Dancing+Script|Tangerine" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <script src="https://use.fontawesome.com/1fb67e6c9b.js"></script>

  </head>
  <body>
    <div class="dark hotels">
      <h1 class="headline">Places to Stay</h1>
      <div class="container">
        <div class="row hotel">
          <div class="postcard-container img-rounded col-sm-8 col-sm-offset-2">
            <div class="stamp">PLACE STAMP HERE</div>
            <div class="col-xs-12 col-sm-6 image">
              <img class="img-fluid" src="/images/hotels/highline.jpg">
            </div>
            <div class="col-xs-12 col-sm-6 details">
              <a href="http://thehighlinehotel.com/"><h4>The  High  Line  Hotel</h4></a>
              <p>
                <span class="underline">180 10th Avenue</span>
                <span class="underline">New York, NY 10011</span>
                <span class="underline">Please call 212-929-3888 and mention the Hoover/Boyar Wedding Group to make your reservation.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row hotel">
          <div class="postcard-container img-rounded col-sm-8 col-sm-offset-2">
          <div class="stamp">PLACE STAMP HERE</div>
            <div class="col-xs-12 col-sm-6 image">
              <img class="img-fluid" src="/images/hotels/eventi.jpg">
            </div>
            <div class="col-xs-12 col-sm-6 details">
              <a href="http://www.hoteleventi.com/"><h4>Hotel  Eventi</h4></a>
              <p>
                <span class="underline">851 Sixth Avenue</span>
                <span class="underline">New York, NY 10001</span>
                <span class="underline">Please call 212-564-4567 and mention the Hoover/Boyar Wedding Group to make your reservation.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row hotel">
          <div class="postcard-container img-rounded col-sm-8 col-sm-offset-2">
          <div class="stamp">PLACE STAMP HERE</div>
            <div class="col-xs-12 col-sm-6 image">
              <img class="img-fluid" src="/images/hotels/holiday.jpg">
            </div>
            <div class="col-xs-12 col-sm-6 details">
              <a href="http://www.hi-nyc.com/"><h4>The  Holiday  Inn - Chelsea</h4></a>
              <p>
                <span class="underline">125 West 26th Street</span>
                <span class="underline">New York, NY 10001</span>
                <span class="underline">Please <a href="https://www.holidayinn.com/hotels/us/en/new-york/nycvc/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn.ki.sp.nd.ct&qChld=0&qFRA=1&qGRM=0&qGrpCd=HBW&qIta=99801505&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=20&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505">click here</a> to make your reservation.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div>we done did it.</div>
    </div>



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
