<!DOCTYPE html>
<html>
  <head>
    <title>Shane &amp; Stephanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/photobooth.css" rel="stylesheet">
    <script src="/vendor/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row" id="images">
        <% @photos.all.each do |photo| %>
          <div class="col-xs-6 col-md-3 no-padding">
            <img class="img-responsive" src="<%= photo.file.url %>">
          </div>
        <% end %>
      </div>
    </div>
  </body>
  <script>
    setInterval(function(){
      $.getJSON('/photobooth.json', function(response){
        let images_on_page = $('.img-responsive');
        let images_on_db = response;
        if (images_on_db[0]['file']['url'] != images_on_page[0].src) {
          $('#images').prepend(`<div class="col-xs-6 col-md-3 no-padding"><img class='img-responsive' src=${images_on_db[0]['file']['url']}></div>`);
          $('.img-responsive').last().remove();
        }
      });
    }, 5000);
  </script>
</html>
