.navbar {
    position: relative;
    padding: 0.5rem;
    background-image: url(../assets/images/dark_embroidery.png);
	background-repeat: repeat;
	background-position: center center;
    z-index: 1;
}
 
 .navbar .logo {
    position: relative;
    left: 2rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

 .navbar .logo h1 {
    padding: 0;
    margin: 0;
}

.navbar .links-container {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: white;
    text-decoration: none;
}

.links-container .navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
 
.links-container .navbar-link:hover {
    color: rgb(21,37,23);
}

@media (max-width: 640px) {
    .navbar .logo {
        text-align: center;
    }

    .navbar .links-container {
        display: none;
    }
}   